@charset 'UTF-8';
@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to bottom, #5353d8, #fc6edf);
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadro {
    background-color: rgba(255, 255, 255, 0.445);
    width: 450px;
    padding: 4rem;
    border-radius: 10px;
    position: relative;
}

.quadro::before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.164);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
    border-radius: 10px;
}

.logo {
    margin-bottom: 2rem;
}

.logo img {
    width: 60px;
}

.logo, .cima, .rodape {
    text-align: center;
}

.container a {
    text-decoration: none;
    color: #4040d6;
}

.container a:hover {
    text-decoration: underline;
}

.cima {
    margin-bottom: 2rem;
}

.cima h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.cima h1 + p {
    font-size: calc(1rem * 0.8);
    opacity: 0.8;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formulario .itemForm {
    position: relative;
}

.formulario .itemForm .icon {
    position: absolute;
    top: .82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: .4;
}

.formulario .checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}
.formulario .outroForm {
    display: flex;
    align-self: center;
    justify-content: space-between;
    font-size: calc(1rem * .8);
    margin-bottom: .5rem;
    width: 100%;
}

.rodape {
    margin-top: 1.5rem;
    font-size: calc(1rem * 0.8);
}

.container input[type="button"],
.container input[type="password"],
.container input[type="email"] {
    border: none;
    outline: none;
    background-color:  rgba(255, 255, 255, 0.308);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
}

.container input:focus {
    background-color: white;
}

.container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: black;
}

.formulario input[type="button"] {
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

.formulario input[type="button"]:hover {
    background-color: hsla(0, 0%, 0%, 0.85);
    cursor: pointer;
}

.redesSociais {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-top: 3rem ;
    opacity: .8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(1rem * .8);
}

.redesSociaisBotoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.redesSociaisBotoes a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 100px;
    transition: all .5s;
}

.redesSociaisBotoes a:hover {
    background-color: white;
    transform: scale(1.1);
}
 

/* Media Queries */

@media (max-width: 768px) {
    body {
        padding: 2rem 0;
    }

    .quadro {
        width: 300px;
        padding: 2rem;
    }
}
